# Ignore Python cache and compiled files
__pycache__/
*.py[cod]

# Ignore secret or config files
secret_key.json

# Optional: Ignore virtual environments if used
venv/
env/

# Ignore OS or IDE specific files (optional)
.DS_Store
*.swp
*.swo
.vscode/
.idea/
.env
